@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}
ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #904904;
}
img { 
  max-width: 100%;
}
p {
  margin: 0;
}
.header {
   width: 100%;
   background-image: url("../images/banner-bg.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: #000000;
   position: relative;
}
.header::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   position: relative;
}
.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.header-logo {
   display: block;
   width: 185px;
}
.header-content > .header-logo {
   display: none;
}
.header-logo img {
   width: 100%;
}
.header-menu-list {
   display: flex;
}
.header-menu-link {
   display: block;
   text-transform: uppercase;
   padding: 10px 15px 10px 20px;
   color: #ffffff;
   font-size: 14px;
}
.header-menu-list-item:last-child > .header-menu-link {
   padding-right: 0;
}
.header-menu-link:active {
   color: rgba(255,255,255, 0.6);
}
.header-content {
   padding-top: 60px;
   padding-bottom: 100px;
   text-align: center;
   max-width: 720px;
   margin: 0 auto;
}
.header-title {
   text-transform: uppercase;
   color: #ffffff;
   font-size: 45px;
   margin: 0 auto;
}
.menu-burger {
	display: none;
   flex-direction: column;
}
.menu-burger-item {
	width: 23px;
	height: 3px;
	background-color: #ffffff;
	margin-bottom: 5px;
}
.trands-title {
   font-weight: bold;
   font-size: 20px;
   text-transform: uppercase;
   text-align: center;
   padding-top: 49px;
   padding-bottom: 17px;
   margin-bottom: 27px;
   position: relative;
}
.trands-title:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   height: 3px;
   width: 66px;
   background: rgb(174, 159, 92);
   margin-Left: -33px;
}
.cards {
   width: 100%;
   display: flex;
}
.card {
   width: calc(25% - 4px);
   height: 320px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: #000000;
   position: relative;
   margin-right: 4px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 15px;
}
.card::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
.card:last-child {
	 width: 25%;
   margin-right: 0;
}
.card1 {
   background-image: url("../images/trend1.jpg");
}
.card2 {
   background-image: url("../images/trend2.jpg");
}
.card3 {
   background-image: url("../images/trend3.jpg");
}
.card4 {
   background-image: url("../images/trend4.jpg");
}
.card-content {
   position: relative;
   border: 3px solid #b59f5b;
   padding: 35px;
   display: flex;
   flex-direction: column;
}
.card-tags {
   display: flex;
   flex-wrap: wrap;
}
.card-tag {
   margin-right: 19px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 14px;
}
.card-tag-link {
   color: rgb(174, 159, 92);
}
.card-title {
   font-size: 20px;
   margin: 0;
}
.card-title-link {
   text-transform: uppercase;
   color: #ffffff;
}
.layout {
  display: flex;
  margin-top: 60px;
}
.stories {
  display: flex;
  flex-direction: column;
  max-width: 778px;
  width: 100%;
}
.stories-item {
  display: flex;
  margin-bottom: 60px;
}
.stories-item:last-child {
  margin-bottom: 0;
}
.stories-item-picture > img {
  width: 100%;
  min-width: 380px;
}
.stories-item-content {
  margin-left: 30px;
}
.stories-item-tags {
  display: flex;
  margin-bottom: 5px;
}
.stories-item-tag {
  margin-right: 19px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.stories-item-tag-link {
  color: rgb(174, 159, 92);
}
.stories-item-title {
  font-size: 22px;
  margin: 0;
}
.stories-item-title-link {
  color: #000;
  text-transform: uppercase;
}
.stories-item-info {
  margin-top: 30px;
  font-size: 15px;
}
.stories-item-post-date {
  color: #aaa;
}
.stories-item-author {
  font-weight: bold;
  margin-left: 13px;
}
.stories-item-text {
  font-size: 15px;
  margin-top: 55px;
  margin-bottom: 0px;
}
.stories-item-text:nth-child(n+2) {
  margin-top: 20px;
}
.aside {
  max-width: 272px;
  margin-left: 120px;
}
.aside-item {
  margin-bottom: 50px;
}
.aside-item-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
}
.aside-item-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 66px;
  background: rgb(174, 159, 92);
  margin-Left: -33px;
}
.aside-item-content {
  padding: 25px 0;
}
.new-posts-item {
  display: flex;
  margin-bottom: 20px;
  color: inherit;
}
.new-posts-item:last-of-type {
  margin-bottom: 0;
}
.new-posts-item-picture {
  width: 70px;
  flex: none;
}
.new-posts-item-picture > img {
  width: 100%;
}
.new-posts-item-content {
  margin-left: 19px;
}
.new-posts-item-post-date {
  font-size: 13px;
  color: #aaa;
}
.new-posts-item-title {
  margin-top: 1px;
  margin-bottom: 0;
}
.new-posts-item-link {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.search-form {
  display: flex;
  justify-content: stretch;
}
.input {
  height: 50px;
  width: 100%;
  margin: 0;
  border: 0;
  outline: none;
  padding: 0 16px;
  background: rgba(9, 80, 60, 0.08);
  font-size: 15px;
}  
.button {
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  display: block;
  background-color: rgb(174, 159, 92);
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}
.search-form-input {
  width: calc(100% - 50px);  
}
.search-form-submit {
  width: 50px;
  background: rgb(174, 159, 92) url("../svg/search.svg") no-repeat center center/40%;
}
.newsletter-form-submit {
  margin-top: 16px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags-item-link {
  display: inline-block;
  margin: 0 5px 8px 0;
  border: 3px solid #eee;
  padding: 7px 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
}
.tags-item-link:active {
  background: rgba(201, 170, 0, .1);
  border: 3px solid rgba(201, 170, 0, .3);
}
.topics-item-link {
  display: block;
  font-weight: bold;
  padding: 13px 0;
  border-bottom: 1px solid #eee;
  color: #000;
}
.topics-item-link sup {
  margin-left: 4px;
  color: rgb(174, 159, 92);
}
.products-title {
  font-weight: bold;
   font-size: 20px;
   text-transform: uppercase;
   text-align: center;
   padding-top: 49px;
   padding-bottom: 17px;
   margin-bottom: 27px;
   position: relative;
}
.products-title:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   height: 3px;
   width: 66px;
   background: rgb(174, 159, 92);
   margin-left: -33px;
}
.products-items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10vh;
  max-width: 1200px;
}
.products-item {
  position: relative;
  max-width: 350px;
  padding: 25px;
  width: 33.3%;
}
.products-item:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 190px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  border: solid 2px #ae9f5c;
  pointer-events: none;
}
.products-item-picture {
  height: 204px;
}
.products-item-picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products-item-title {
  font-size: 18px;
  margin: 10px 0 5px 0;
  font-weight: 700;
}
.products-item-title-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans;
  color: #000000;
}
.products-item-text {
  font-size: 15px;
}
.products-item-price-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.products-item-price-old {
  font-weight: 900;
  text-decoration: line-through;
  font-size: 13px;
}
.products-item-price-now {
  font-weight: 900;
  font-size: 20px;
}
.products-item-button {
  width: 50%;
  height: 50px;
  padding: 0;
  border: 0;
  display: block;
  background-color: #ae9f5c;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}
.social {
  background-color: #f4f7f6;
}
.social-networks-list {
  padding: 35px 0;
  text-align: center;
}
.social-networks-item {
  display: inline-block;
  padding-right: 30px;
}
.social-networks-item:last-child {
  padding-right: 0;
}
.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.social-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}
.social-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.social-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.social-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}
.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
.visually-hidden {
  display: none;
}
.copyrights {
  margin-top: 72px;
  margin-bottom: 34px;
  text-align: center;
}
.copyright {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 700;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
}
.popup-body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup-close {
    max-width: 390px;
    width: 100%;
    height: 25px;
    background-image: url(../svg/form-x.svg);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: right 0 bottom 5px;
}
.popup-content {
  background-color: #fff;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
}
.popup-title {
  font-weight: bold;
   font-size: 18px;
   text-transform: uppercase;
   text-align: center;
   padding-bottom: 17px;
   margin-bottom: 20px;
   position: relative;
}
.popup-title:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   height: 3px;
   width: 66px;
   background: rgb(174, 159, 92);
   margin-left: -33px;
}
.popup-question {
  margin-bottom: 30px;
}
.popup-question1-input {
  position: relative;
}
.popup-question1-input:after {
  content: "";
  position: absolute;
  background-image: url(../svg/form-arrows.svg);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: right 10% center;
  width: 200px;
  height: 300px;
}
.popup-question-title {
  margin-bottom: 10px;
}
.popup-question2-input {
  display: none;
}
.fake {
  position: relative;
  display: inline-block;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(174, 159, 92);
  border-radius: 50%
}
.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(174, 159, 92);
  opacity: 0;
  transistion: .2s;
  border-radius: 50%;
}
.popup-question2-input:checked + .fake::before {
  opacity: 1;
}
.popup-input-text {
  margin-right: 20px;
  font-size: 16px;
}
.popup-question3-input {
  height: 150px;
  padding: 16px 16px;
}


@media (max-width: 1024px) {
	.header {
  	 background-image: url("../images/banner-bg-tablet.jpg");
	}
	.header-logo {
	 width: 164px;
	}
	.header-menu {
	 display: none;
	}
	.menu-burger {
	 display: flex;
	}
  .header-content {
    max-width: 700px;
  }
	.header-title {
	 font-size: 35px;
	}
  .trands-title {
    font-size: 18px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: calc(50% - 4px);
    height: 249px;
    margin-bottom: 3px;
  }
  .card:nth-child(even) {
  	 width: 50%;
     margin-right: 0;
  }
  .card-content {
  	 padding: 30px;
  }
  .card-title {
  	 font-size: 17px;
  }
  .layout {
    padding: 0 35px;
    justify-content: space-between;
  }
  .stories {
    max-width: 380px;
  }
  .stories-item {
  	 display: block;
  	 padding-bottom: 15px;
    margin-bottom: 45px;
  	 border-bottom: solid 4px #eeeeee;
  }
  .stories-item:last-child {
  	border-bottom: none;
  }
  .stories-item-content {
  	margin-left: 0;
  }
  .aside {
  	margin-left: 35px;
  }
  .products-items {
    flex-wrap: wrap;
  }
  .products-item {
    width: 50%;
  }
}
@media (max-width: 420px) {
	.header {
		background-image: url("../images/banner-mobile.jpg");
	}
  .header-top {
    justify-content: flex-end;
  }
	.header-logo {
	  display: none;
  }
  .header-content > .header-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px 24px 5px;
  }
	.menu-burger {
		display: flex;
    justify-content: end;
	}
  .header-content {
    padding-top: 246px;
    padding-bottom: 238px;
    max-width: 285px;
  }
	.header-title {
		font-size: 26px;
	}
  .trands-title {
    font-size: 16px;
  }
  .card {
    width: 100%;
    height: 233px;
    margin-right: 0;
  }
  .card:nth-child(even) {
  	 width: 100%;
  }
  .card:last-child {
  	margin-bottom: 0;
  	width: 100%;
  }
  .card-content {
  	 padding: 20px;
  }
  .card-title {
  	 font-size: 16px;
  }
  .layout {
    display: block;
    padding: 0 15px;
  }
}